
.top-comment {
    padding: 30px;
    background-color: #fff;
    color: #212121;
    margin-bottom: 20px;
}

.alert-info {
    background-color: #9368e9;
}

.top-comment img {
    padding-right: 15px;
}

.top-comment p {
    line-height: 24px;
}

.bottom-comment {
    background: #fff;
    padding: 20px;
    margin: 50px 0;
    color: #212121;
    overflow: hidden;
}

.bottom-comment .comment-text {
    padding: 2px;
}

.bottom-comment h4 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 10px;

}

.bottom-comment .comment-img {
    padding: 10px 15px 100px;
    float: left;
    width: 70px;
    height: 70px;
}


.bottom-comment h5 {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;

}

.bottom-comment p.comment-date {
    color: #888888;
}

.bottom-comment p.para {
    color: #212121;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 5px;
}

.bottom-comment a.replay {
    text-transform: uppercase;
    color: #212121;
    background: #eee;
}

.bottom-comment a.replay:hover {
    background-color: #ddd;
}

.leave-comment {
    background-color: #fff;
    margin: 30px 0;
    padding: 20px;
    color: #212121;

}

.leave-comment h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.leave-comment input, .leave-comment textarea {
    background-color: #FAFAFA;
    color: #000000;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
    /*padding: 10px;*/
    border-color: #eee;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);

}




.leave-comment input[type="text"] + input[type="email"] {
    border: 1px solid #eeeeee;
    font-style: italic;
}